body{
    background: rgb(198,0,21);
    background: linear-gradient(90deg, rgba(198,0,21,1) 10%, rgba(215,0,113,1) 46%, rgba(123,0,255,1) 100%);

margin: 0;
padding: 0;
font-family: Lucida Console;
align-items: center;
}

.login-form {
    height: 300px;
    background: #fff;
    position: absolute;
    padding: 60px;
    top: 20%;
    left: 40%;
    text-align: center;
    border-radius: 15px;
}

.login-form .login-submit {
    align-items: center;
    position: absolute;
    margin-left: 20px auto;
}

.login-title{
    margin: 32px;
    color: #d70071
}

.login-input{
    height: 18px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    border-style:hidden
}

.login-submit{
    left: 30%;
    top: 60%;
    height: 30px;
    width: 40%;
    outline: none;
    border-color: #fff;
    border-radius: 10px;
}